body {
  font-family: sans-serif;
  /* margin: 0;
  padding: 0;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.7)
    ),
    linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px; */
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* @media only screen and (max-width: 500px) {
  .leafMap {
    height: 250px;
  }
  .event_people {
    overflow-x: scroll;
    height: 300px;
  }
} */
